<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--MyJS start-->
    <script type="module" src="MyStatic/MyJS/MyselfTestOneJS.js"></script>
    <!--MyJS end-->

    <!--Bootstrap5 minCSS start-->
    <link rel="stylesheet" href="static/Bootstrap5/css/bootstrap.min.css">
    <!--Bootstrap5 minCSS start-->

    <link rel="stylesheet" href="MyStatic/MyCSS/MyselfTestOneCSS.css">

    <!--Bootstrap5 icons start-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <!--Bootstrap5 icons end-->
    
    <title>MyselfHtml</title>
</head>
<body>
    <div id="vueApp">
        
        <!--7.2 Single text input start-->
        <div id="singleTextDiv">
            <input type="text" v-model="singleMessage" value="hello world">
            <p>{{ singleMessage }}</p>
        </div>
        <!--7.2 Single text input end-->

        <p>================================</p>

        <!--7.3 Multi-line text input start-->
        <div id="multilineTextDiv">
            <textarea v-model="multilineMessage"></textarea>
            <p>{{ multilineMessage }}</p>
        </div>
        <!--7.3 Mulit-line text input end-->

        <p>================================</p>

        <!--7.4.1 Checkbox start-->
        <div id="checkboxDiv">
            <input type="checkbox" id="checkbox" v-model="checked">
            <label for="checkbox">{{ checked }}</label>
        </div>
        <!--7.4.1 Checkbox end-->

        <p>================================</p>

        <!--7.4.2 Multi checkbox start-->
        <div id="multiCheckboxDiv">
            <input type="checkbox" id="name1" value="葡萄" v-model="checkedNames">
            <label for="name1">葡萄</label>
            <input type="checkbox" id="name2" value="香蕉" v-model="checkedNames">
            <label for="name2">香蕉</label>
            <input type="checkbox" id="name3" value="苹果" v-model="checkedNames">
            <label for="name3">苹果</label>
            <input type="checkbox" id="name4" value="橘子" v-model="checkedNames">
            <label for="name4">橘子</label>
            <p><span>选中的水果:{{ checkedNames }}</span></p>
        </div>
        <!--7.4.2 Multi checkbox end-->

        <p>================================</p>

        <!--7.5 Radio button start-->
        <div id="radioButtonDiv">
            <h3>请选择本次采购的水果（单选题）</h3>
            <input type="radio" id="one" value="A" v-model="picked">
            <label for="one">A.苹果</label><br/>
            <input type="radio" id="two" value="B" v-model="picked">
            <label for="two">B.葡萄</label><br/>
            <input type="radio" id="three" value="C" v-model="picked">
            <label for="three">C.香蕉</label><br/>
            <input type="radio" id="four" value="D" v-model="picked">
            <label for="four">D.橘子</label><br/>
            <p><span>选择：{{ picked }}</span></p>
        </div>
        <!--7.5 Radio button end-->

        <p>================================</p>

        <!--7.6.1 Single select box start-->
        <div id="singleSelectBoxDiv">
            <h3>选择喜欢的水果</h3>
            <select v-model="selected">
                <option disabled value="">选择喜欢的水果</option>
                <option>苹果</option>
                <option>香蕉</option>
                <option>葡萄</option>
                <option>橘子</option>
            </select>
            <span>选择的水果：{{ selected }}</span>
        </div>
        <!--7.6.1 Single select box end-->

        <p>================================</p>

        <!--7.6.2 Multi select box start-->
        <div id="multiSelectBoxDiv">
            <h3>选择喜欢的水果</h3>
            <select v-model="selected" multiple style="height: 100px">
                <option disabled value="">选择喜欢的水果</option>
                <option>苹果</option>
                <option>香蕉</option>
                <option>葡萄</option>
                <option>橘子</option>
            </select><br/>
            <span>选择的水果：{{ selected }}</span>
        </div>
        <!--7.6.2 Multi select box end-->

        <p>================================</p>

        <!--7.6.3 Use v-for start-->
        <div>
            <h3>请选择您喜欢的课程</h3>
            <select v-model="selected">
                <option v-for="option in options" v-bind:value="option.value">{{ option.text }}</option>
            </select>
            <span>选择的课程：{{ selected }}</span>
        </div>
        <!--7.6.3 Use v-for end-->

        <p>================================</p>

        <!--7.7.1 Checkbox start-->
        <div>
            <input type="checkbox" v-model="toggle" true-value="yes" false-value="no">
            <span>{{ toggle }}</span>
        </div>
        <!--7.7.1 Checkbox end-->

        <p>================================</p>

        <!--7.7.2 Radio button start-->
        <div>
            <input type="radio" v-model="pick" v-bind:value="date">
            <span>{{ pick }}</span>
        </div>
        <!--7.7.2 Radio button end-->

        <p>================================</p>

        <!--7.7.3 Select box start-->
        <div>
            <select v-model="selected" multiple>
                <option v-bind:value="{ name: '苹果' }">A</option>
                <option v-bind:value="{ name: '香蕉' }">B</option>
                <option v-bind:value="{ name: '菠萝' }">C</option>
                <option v-bind:value="{ name: '橘子' }">D</option>
            </select>
            <p><span>{{ selected }}</span></p>
        </div>
        <!--7.7.3 Select box end-->

        <p>================================</p>

        <!--7.8.1 Use lazy start-->
        <div>
            <input v-model.lazy="lazyMessage">
            <p>{{ lazyMessage }}</p>
        </div>
        <!--7.8.1 Use lazy end-->

        <p>================================</p>

        <!--7.8.2 Use number start-->
        <div>
            <p>.number修饰符</p>
            <input type="number" v-model.number="val">
            <p>数据类型是：{{ typeof(val) }}</p>
        </div>
        <!--7.8.2 Use number end-->

        <p>================================</p>

        <!--7.8.3 Use trim start-->
        <div>
            <p>.trim修饰符</p>
            <input type="text" v-model.trim="val">
            <p>cal的长度是：{{ val.length }}</p>
        </div>
        <!--7.8.3 Use trim end-->

        <p>================================</p>

        <!--7.9 start-->
        <div>
            <form @submit.prevent="handleSubmit">
                <span>用户名称:</span>
                <input type="text" v-model="user.userName"><br>
                <span>用户密码:</span>
                <input type="password" v-model="user.pwd"><br>
                <span>性别:</span>
                <input type="radio" id="female" value="female" v-model="user.gender">
                <label for="female">女</label>
                <input type="radio" id="male" value="male" v-model="user.gender">
                <label for="male">男</label><br>
                <span>喜欢的技术：</span>
                <input type="checkbox" id="basketball" value="basketball" v-model="user.hobbys">
                <label for="java">Java开发</label>
                <input type="checkbox" id="football" value="football" v-model="user.hobbys">
                <label for="python">Python开发</label>
                <input type="checkbox" id="pingpang" value="pingpang" v-model="user.hobbys">
                <label for="php">PHP开发</label><br>
                <span>就业城市：</span>
                <select v-model="user.selCityId">
                    <option value="">未选择</option>
                    <option v-for="city in citys" :value="city.id">{{ city.name }}</option>
                </select><br>
                <span>介绍：</span>
                <textarea rows="5" cols="30" v-model="user.desc"></textarea><br>
                <input type="submit" value="注册">
            </form>
        </div>
        <!--7.9 end-->

    </div>
    
    <!--JS file start-->

    <!--Jquery start-->
    <script src="static/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <!--Jquery end-->

    <!--Bootstrap5 minJS start-->
    <script src="static/Bootstrap5/js/bootstrap.min.js"></script>
    <!--Bootstrap5 minJS end-->

    <!--Bootstrap5 bundleMinJS start-->
    <script src="static/Bootstrap5/js/bootstrap.bundle.min.js"></script>
    <!--Bootstrap5 bundleMinJS end-->

    <!--JS file end-->
</body>
</html>
